<h1>Thanks for signing up to Localhst.</h1>
<p>Have a look through our available tours or make a tour if you've got something to share.</p>
<p>Authorize your account through stripe to accept tips for your tours.</p>