<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3>Mailbox</h3>
      </div>
      <div class="panel-body">
        <div class="lead">
          <% @conversations.each do |conversation| %>
            <% if conversation.sender_id == current_user.id || conversation.recipient_id == current_user.id %>
              <% if conversation.sender_id == current_user.id %>
                <% recipient = User.find(conversation.recipient_id) %>
              <% else %>
                <% recipient = User.find(conversation.sender_id) %>
              <% end %>
              Your chat with: <%= link_to "#{recipient.first_name} #{recipient.last_name}", conversation_messages_path(conversation), :class => "btn btn-info btn-sm"%>
              <hr>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>