// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.show-title {
	text-align: center
}

.title-img-wrapper {
	height: 300px;
	width: 99.5%;
	overflow: hidden;
	position: relative;
}

.title-img {
	position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.profile-info-image {
	display: flex;
	align-items: center;
	flex-direction: column;
}

// Tour Index Page

.tour-panel-wrapper {
	display: flex;
	justify-content: row;
}

.tour-panel-wrapper-wrapper {
	padding-left: 0px !important;
	padding-right: 5px !important;
}

.tour-panel-inside-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.tour-index-panel-tag-wrapper {
	
}

.tour-panel-block-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tour-panel-block-2 {
	padding-right: 0px !important;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tour-index-panel-heading {
	margin: 5px;
}

// Tour Show Page
.summary-right-side{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

// Tour Form Partial
.error_explanation, li {
	color: black;
}