// Place all the styles related to the Tours controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.show-title {
	text-align: center
}

.title-img-wrapper {
	height: 300px;
	width: 99.5%;
	overflow: hidden;
	position: relative;
}

.title-img {
	position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%)
}

.profile-info-image {
	display: flex;
	align-items: center;
	flex-direction: column;
}

// Tour Index Page

.tag-row {
  padding-left: 15px;
}

.tour-panel-wrapper {
	display: flex;
	justify-content: row;
}

.tour-panel-wrapper-wrapper {
	padding-left: 0px !important;
	padding-right: 5px !important;
}

.tour-panel-inside-wrapper {
	display: flex;
	justify-content: space-between;
	width: 100%;
}

.tour-index-panel-tag-wrapper {
}

.tour-index-panel-tag-title {
	display: inline-block;
	position: absolute;
	right: 2px;
}

.tour-panel-block-1 {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.tour-panel-block-2 {
	padding-right: 0px !important;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.tour-index-panel-heading {
	margin: 5px;
}

// Tour update/save button
.busy {
  background-color: #2C3F50 !important;
}

// Tour Show Page
.summary-right-side{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.fontfix {
  color: white !important;
}

.fontfix > a:visited {
  color: white;
}

.fontfix > a {
  color: white;
  text-decoration: none !important;
}

.profile-info > a {
  color: black !important;
}

// Tour Form Partial

#error_explanation > ul > li {
  color: black;
}

.error_explanation, li {
	color: black;
}

.del {
  background-image:url('http://cdn1.iconfinder.com/data/icons/fugue/bonus/icons-24/cross.png');
}

.hidden {
  display:none;
}

.clone {
  background-image:url('http://cdn1.iconfinder.com/data/icons/musthave/24/Copy.png');
}

.del, .clone {
  z-index:999;
  cursor:pointer;
  background-position:left center;
  background-repeat:no-repeat;
  min-width:24px;
  min-height:24px;
  padding-left:26px;
}